<div class="row">

  <div class="col-md-12">
    <h1>Add User</h1>
  </div>
  <div class="col-md-12 p-15">
      <mat-form-field class="example-full-width full-width">
        <input matInput placeholder="First Name" [(ngModel)]="userAdd.name">
      </mat-form-field>
      <mat-form-field class="example-full-width full-width">
        <input matInput placeholder="Last Name"  [(ngModel)]="userAdd.job">
      </mat-form-field>
     <!-- <mat-form-field class="example-full-width full-width">
        <input matInput placeholder="Mobile No"  [(ngModel)]="userAdd.mobileNo">
      </mat-form-field>-->
      <button mat-button color="primary" (click)="adduser()">Submit</button>
  </div>


</div>

